[user]
    name = Amandus Krantz
    email = krantz.amandus@protonmail.com
    username = krntz
[core]
    editor = neovim
[credential]
    helper = cache
[github]
    username = krntz
[init]
	defaultBranch = main
