[user]
    name = Amandus Krantz
    email = me@amanduskrantz.com
    username = krntz
[core]
    editor = nvim
[credential]
    helper = cache
[github]
    username = krntz
[init]
	defaultBranch = main
[push]
    autoSetupRemote = true
[pull]
    rebase = false
[merge]
    tool = nvimdiff
