[user]
    name = Amandus Krantz
    email = krantz.amandus@protonmail.com
    username = krntz
[core]
    editor = neovim
    excludesfile = ~/.gitignore
[credential]
    helper = cache
[github]
    username = krntz
