! Fonts
URxvt.font: xft:Roboto Mono:size=10

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! UI
URxvt*borderless: true
URxvt*scrollBar: false
URxvt.internalBorder: 5
URxvt.intensityStyles: true

#include "/home/akrantz/.xres/themes/base16-gruvbox-dark-hard-256.Xresources"
